// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$purple: rgb(116, 88, 146);
$aka-primary-color: #917FB3;
$aka-secondary-color: #2A2F4F;
$aka-text-color: #FDE2F3;

$aka-white-color: #f7f1f5;
