.container {
  width: 40%;
  margin: auto;
  padding-top: 4rem;
}
.img-fluid {
  width: 100%;
  height: auto;
  border: 9px solid #70578c;
  margin-bottom: 2rem;
}
.course-title, .course-name {
  color: #333;
  text-align: center;
}
.course-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.course-name {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 4rem;
}
.card {
  background-color: #f5f5f5;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  width: 100%;
  border: 5px solid #70578c;
}
.course-name {
  text-decoration: underline;
}
