

.background-container {
  margin: 0px;
  padding: 0px;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;


  .background-rouded-div1 {
    border-radius: 50%;
    position: fixed;
    top: -100vh;
    left: -100vw;
    width: 400vh;
    height: 400vh;
    background: linear-gradient(90deg, rgba(239,237,241,1) 0%, rgba(207,207,207,0.9724483543417367) 100%);
    transform: rotate(90deg);
  }

  .background-rouded-div2 {
    border-radius: 50%;
    position: fixed;
    bottom: -100vh;
    right: -100vw;
    width: 200vh;
    height: 200vh;
    transform: rotate(-45deg);
    background: linear-gradient(90deg, rgba(239,237,241,1) 0%, rgba(207,207,207,0.9724483543417367) 100%);
  }
}

// body {
//   font-family: Arial, sans-serif;
// }
.search_bar_button{
  background: #6675df;
  // border-radius: 50%;
}
.search_bar_button:hover {
  background: #333333;
}
.mysearch-bar{
  border-radius: 40%;
}
.introduction {
//   position: relative;
  height: 400px;
//   color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  text-align: center;

  .banner {
    // position: absolute;
    // top: 0;
    // left: 0;
    // height: 100%;
    width: 100vw;
    background-image: url("https://images.unsplash.com/photo-1503945438517-f65904a52ce6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80");
    background-size: cover;
    background-position: center;
    // opacity: 0.5;
  }
}

.about {
  padding: 50px;
  text-align: center;

  h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
  }
}

.featured-courses,
.featured-teachers,
.how-it-works {
  text-align: center;
  margin: 50px 0;
}

.course-card,
.teacher-card,
.step {
  display: inline-block;
  width: 200px;
  margin: 20px;
  padding: 20px;
  border: 2px solid #70578C;
  border-radius: 5px;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  h3 {
    font-size: 24px;
    margin: 10px 0;
  }

  p {
    font-size: 16px;
  }
}
