

.background-container {
  margin: 0px;
  padding: 0px;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;


  .background-rouded-div1 {
    border-radius: 50%;
    position: fixed;
    top: -100vh;
    left: -100vw;
    width: 400vh;
    height: 400vh;
    background: linear-gradient(90deg, rgba(239,237,241,1) 0%, rgba(207,207,207,0.9724483543417367) 100%);
    transform: rotate(90deg);
  }

  .background-rouded-div2 {
    border-radius: 50%;
    position: fixed;
    bottom: -100vh;
    right: -100vw;
    width: 200vh;
    height: 200vh;
    transform: rotate(-45deg);
    background: linear-gradient(90deg, rgba(239,237,241,1) 0%, rgba(207,207,207,0.9724483543417367) 100%);
  }
}

// body {
//   font-family: Arial, sans-serif;
// }
.search_bar_button{
  background: #6675df;
  // border-radius: 50%;
}
.search_bar_button:hover {
  background: #333333;
}
.mysearch-bar{
  border-radius: 40%;
}
.introduction {
//   position: relative;
  height: 400px;
//   color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  text-align: center;

  .banner {
    // position: absolute;
    // top: 0;
    // left: 0;
    // height: 100%;
    width: 100vw;
    background-image: url("https://images.unsplash.com/photo-1503945438517-f65904a52ce6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80");
    background-size: cover;
    background-position: center;
    // opacity: 0.5;
    color: #ced4da;;
  }
}

.about {
  padding: 50px;
  text-align: center;


  h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
  }
}

.featured-courses,
.featured-teachers,
.how-it-works {
  text-align: center;
  margin: 50px 0;
}

.course-card,
.teacher-card,
.step {
    display: inline-block;
    width: 200px;
    margin: 20px;
    padding: 20px;
    border: 2px solid #70578C;
    border-radius: 5px;

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    h3 {
        font-size: 24px;
        margin: 10px 0;
        color: #5a4141;
    }

    p {
        font-size: 16px;
    }
}

.my-container{

    .container {
        max-width: 900px;
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
    }

    .card-wrapper {
        width: 400px;
        height: 500px;
        position: relative;
    }

    .card {
        position: center;
        top: 50%;
        left: 50%;
        width: 350px;
        height: 450px;
        transform: translate(-50%, -50%);
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
        cursor: pointer;
        transition: 0.5s;

        .card-image {
            // position: center;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            // z-index: 2;
            background-color: #000;
            transition: .5s;
        }

        &:hover img {
            opacity: 0.4;
            transition: .5s;
        }
    }

    .card:hover .card-image {
    transform: translateY(-100px);
    transition: all .9s;
    }

/**** Social Icons *****/

.social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;

    li {
        list-style: none;

        a {
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: #fff;
        font-size: 23px;
        color: #333;
        font-weight: bold;
        margin: 0 6px;
        transition: .4s;
        transform: translateY(200px);
        opacity: 0;
        }
    }
}

.card:hover .social-icons li a {
    transform: translateY(0px);
    opacity: 1;
}

.social-icons li a:hover {
    background: #000;
    transition: .2s;
    .fab {
        color: #fff;
    }
}

.social-icons li a .fab {
    transition: .8s;

    &:hover {
        transform: rotateY(360deg);
        color: #fff;
    }
}

.card:hover li:nth-child(1) a {
    transition-delay: 0.1s;
}
.card:hover li:nth-child(2) a {
    transition-delay: 0.2s;
}
.card:hover li:nth-child(3) a {
    transition-delay: 0.3s;
}
.card:hover li:nth-child(4) a {
    transition-delay: 0.4s;
}

/**** Personal Details ****/

.details {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 120px;
    z-index: 1;
    padding: 10px;

    h2 {
        margin: 30px 0;
        padding: 0;
        text-align: center;

        .job-title {
            font-size: 1rem;
            line-height: 2.5rem;
            color: #333;
            font-weight: 300;
        }
    }
}

.profile-two .social-icons li a {
  border-radius: 50%;
}

.card:hover .profile-img--two {
  transform: rotateY(180deg);
}
}

.my-bestseller-container{

:root {
  --red: #ef233c;
  --darkred: #c00424;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 16px / 24px "Rubik", sans-serif;
  color: var(--black);
  background: var(--platinum);
  margin: 50px 0;
}

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

h2 {
  font-size: 32px;
  margin-bottom: 1em;
}

.cards {
  display: flex;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding: 20px;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}

.card:not(:last-child) {
  margin-right: 10px;
}

.card:hover {
  color: var(--white);
  background: var(--red);
}

.card .card-title {
  font-size: 20px;
}

.card .card-content {
  margin: 20px 0;
  max-width: 85%;
}

.card .card-link-wrapper {
  margin-top: auto;
}

.card .card-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: var(--red);
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.2s;
}

.card:hover .card-link {
  background: var(--darkred);
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: var(--darkred);
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}

@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }

  .card:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 20px);
  }

  .card:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }

  .card:not(:last-child) {
    margin-right: 40px;
  }
}

    .profile-two .social-icons li a {
    border-radius: 50%;
    }

.bestseller-container{
    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        background: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        background-color: #f1f1f1;
    }

    .container {
        width: 1000px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .container .card {
        position: relative;
        border-radius: 10px;
    }


    .container .card .icon .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 80px;
        transition: 0.7s;
        color: #fff;
    }

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 80px;
        transition: 0.7s;
        color: #fff;
    }

    .container .card .face {
        width: 300px;
        height: 200px;
        transition: 0.5s;
    }

    .container .card .face.face1 {
        position: relative;
        background: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateY(100px);
    }

    .container .card:hover .face.face1{
        background: #ff0057;
        transform: translateY(0px);
    }

    .container .card .face.face1 .content {
        opacity: 1;
        transition: 0.5s;
    }

    .container .card:hover .face.face1 .content {
        opacity: 1;
    }

    .container .card .face.face1 .content i{
        max-width: 100px;
    }

    .container .card .face.face2 {
        position: relative;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 20px 50px rgba(0,0,0,0.8);
        transform: translateY(-100px);
    }

    .container .card:hover .face.face2{
        transform: translateY(0);
    }

    .container .card .face.face2 .content p {
        margin: 0;
        padding: 0;
        text-align: center;
        color: #414141;
    }

    .container .card .face.face2 .content h3 {
        margin: 0 0 10px 0;
        padding: 0;
        color: #fff;
        font-size: 24px;
        text-align: center;
        color: #414141;
    }

    .container a {
        text-decoration: none;
        color: #414141;
    }

}
}
