<footer>
<div class="flistes">
  <div class="footer-left">
    <h3>School support</h3>
    <ul>
      <li><a href="#">Lien 1</a></li>
      <li><a href="#">Lien 2</a></li>
      <li><a href="#">Lien 3</a></li>
    </ul>
  </div>
  <div class="footer-right">
    <h3>How it works?</h3>
    <ul>
      <li><a href="#">Lien 1</a></li>
      <li><a href="#">Lien 2</a></li>
      <li><a href="#">Lien 3</a></li>
    </ul>
  </div>
</div>
<div class="faka">
<h2>©Akademics 2023 | All rights reserved.
</div>
</footer>
