<div class="d-none" data-controller="gototop" data-gototop-target="gototop">
    <%= link_to '#', class: 'gototop btn-aka-light square' do %>
        <i class="fa-solid fa-arrow-up"></i>
    <% end %>
</div>
