.courses-show-banner-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

    .courses-show-banner-container-sub0{
        width: 80%;
        // height: 40vh;
        height: 380px;
        border-radius: 15px;
        // text-align: center;
        margin: 30px;
        background: $aka-primary-color;
        position: relative;

        .courses-show-banner-container-sub{
            width: 100%;
            height: 100%;

            border-radius: 15px;
            overflow: hidden;
            // margin: 30px;
            position: relative;

            .courses-show-banner-gradient {
                background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.42348974164133735) 100%);
                border-radius: 15px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 99%;
                height: 99%;
                z-index: 1;
            }
            .course-show-img {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            .courses-show-banner-info {
                z-index: 2;
                width: 100%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .courses-show-category {
                    padding: 10px;
                    color: grey;
                    font-size: 13px;
                }
                .courses-show-rating {
                    color: $aka-white-color;
                }
                .courses-show-title {
                    color: $aka-white-color;
                    font-size: 53px;
                }
                .courses-show-name {
                    color: $aka-white-color;
                    font-size: 20px;
                }
            }
        }
        .courses-show-teacher {
            color: $aka-white-color;
            transform: translateY(70px);
            font-size: 20px;
            position: absolute;
            bottom: -23%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .course-show-teacher-img-container {
            // margin: 0 auto;
            z-index: 3;
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 150px;
            height: 230px;
            border-radius: 15px;
            overflow: hidden;

            .course-show-teacher-img {
                height: 100%;
                &:hover {
                    scale: 1.02;
                }
            }
        }
    }
}



.teacher-course-number {
  color: #333;
  font-size: 2em;
  margin-bottom: 1em;
}

.course-title {
  color: #555;
  font-size: 1.8em;
  margin-bottom: 0.8em;
}

.course-name {
  color: #777;
  font-size: 1.5em;
  margin-bottom: 1.2em;
}

.edit-link {
  color: #007bff;
  text-decoration: none;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.delete-button-container {
  margin-bottom: 2em;
}

.delete-button {
  color: white;
  background-color: #dc3545;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
}

.classes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2em;
}

.class-card {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.class-name, .class-start-date, .class-end-date {
  color: #333;
  margin-bottom: 0.5em;
}

.edit-class-link, .create-class-link {
  color: #007bff;
  text-decoration: none;
  font-size: 1.2em;
  display: inline-block;
  margin-right: 10px;
}

.delete-class-button {
  color: white;
  background-color: #dc3545;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
}

.teacher-courses{
  padding: 4rem;
}
