<h1>show teacher course number ...</h1>

<h1><%= @course.title %></h1>
<h2><%= @course.name %></h2>

<%= link_to "edit", "edit", class: "form btn rounded-pill btn-light text-danger" %>
<%= link_to "delete", "courses/new", class: "form btn rounded-pill btn-light text-danger" %>
