<div class ="container border"></div>
<div class ="row">
<% @courses.each do |course| %>
<div class="card m-3 col" style="width: auto;">
  <img src="https://images.unsplash.com/photo-1503945438517-f65904a52ce6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80" class="img-fluid rounded-start" alt="...">
  <div class="card-body">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= course.title %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><%= course.name %></h6>
        <p class="card-text"><%= course.description %></p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>
</div>
