.btn-square {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}


.btn-aka {
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}
