.navbarr {
  color: rgb(251, 248, 245);
  background: linear-gradient(90deg, rgba(112,87,140,1) 0%, rgba(140,92,185,0.9724483543417367) 100%);
  a {
      font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
}
.nav-link {
    color: rgb(223, 220, 220);
    cursor: pointer;
    padding: 10px;
    &:hover {
        color: white;
    }
}
.navbar-container {
    display: flex;
    // flex-grow: 1;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

    .navbar-left {
        width: 200px;
        height: 50px;
        // background-color: brown;
        flex-shrink: 0;

        .logo-letter {
            div {
                position: absolute;
                top: 5px;
                left: 10px;
                width: 38px;
                height: 38px;
                border-radius: 5px;
                border: 1px solid $light-gray;
                text-align: center;
                justify-content: center;
                transition: all 200ms ease-in-out;
            }
            h1 {
                position: absolute;
                left: 18px;
                top: 5px;
                color: $light-gray;
                font-size: 30px;
            }
        }
        .logo-letter-rest {
            position: absolute;
            left: 52px;
            top: 5px;
            color: $light-gray;
            font-size: 30px;
            transition: all 200ms ease-in-out;
        }
        &:hover {
            .logo-letter > div {
                transform: rotate(45deg);
                scale: 0.9;
            }
            .logo-letter-rest {
                transform: translateX(2px);
            }
        }
    }

    .navbar-middle {
        width: 100%;
        height: 30px;
        // background-color: rgb(23, 73, 101);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search-bar {
            display: flex;
        }
    }

    .navbar-right {
        display: flex;
        align-items: center;
        // background-color: chartreuse;
        margin-right: 10px;

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            object-fit: cover;
        }
        .menu-profil {
            z-index: 10;
            position: absolute;
            right: -10px;
            top: 45px;
            background-color: rgba(140,92,185,1);
            border-bottom-radius: 5px;

            .dropdown-item {
                border-bottom: 1px solid white;
                padding: 10px 30px;
                color: rgb(223, 220, 220);
                &:hover {
                    color: white;
                }
            }
            .dropdown-item:last-child {
                border-bottom: none;
            }
        }
    }

}

.login-link {
    border: 1px solid rgba(128, 128, 128, 0.01);
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(197, 197, 197);

    &:hover {
        border: 1px solid white;
        color: white;
    }
}
