.navbarr {
    background: $aka-secondary-color;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    border-bottom: 2px solid $aka-primary-color;
    a {
        font-family: Arial, Helvetica, sans-serif;
        font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

    .dot-aka {
        height: 2px;
        background-color: $aka-over-color;
        position: absolute;
        top: 35px;
        visibility: hidden;
        pointer-events: none;
    }

    .nav-item {
        color: $aka-white-color;
        cursor: pointer;
        padding: 10px 15px;
        &:hover{
            color: $aka-over-color;
        }
    }
    .active {
        color: $aka-over-color;
    }

    .navbar-left {
        width: 200px;
        height: 50px;
        flex-shrink: 0;

        .logo-letter {
            div {
                position: absolute;
                top: 5px;
                left: 10px;
                width: 38px;
                height: 38px;
                border-radius: 5px;
                border: 1px solid $aka-primary-color;
                text-align: center;
                justify-content: center;
                transition: all 200ms ease-in-out;
            }
            h1 {
                position: absolute;
                left: 19px;
                top: 6px;
                color: $aka-white-color;
                font-size: 28px;
            }
        }
        .logo-letter-rest {
            position: absolute;
            left: 52px;
            top: 6px;
            color: $aka-white-color;
            font-size: 28px;
            transition: all 200ms ease-in-out;
        }
        &:hover {
            .logo-letter > div {
                transform: rotate(45deg);
                scale: 0.9;
            }
            .logo-letter-rest {
                transform: translateX(2px);
            }
        }
    }

    .navbar-middle {
        width: 100%;
        height: 30px;
        display: flex;
        font-size: 15px;
        font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

        align-items: center;
        justify-content: space-between;

        .search-bar {
            display: flex;
        }
        .burger-menu {
            display: none;
        }
    }

    .navbar-right {
        display: flex;
        align-items: center;
        margin-right: 10px;
        // width: 300px;
        .navbar-message-icon {
            padding: 0px 10px;
        }
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            object-fit: cover;
        }
        .menu-profil {
            z-index: 10;
            position: absolute;
            right: -10px;
            top: 52px;
            background-color: $aka-secondary-color;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            text-align: center;
            .dropdown-item {
                border-bottom: 1px solid $aka-primary-color;
                padding: 10px 30px;
                color: $aka-white-color;
                &:hover {
                    color: $aka-primary-color;
                }
            }
            .dropdown-item:last-child {
                border-bottom: none;
                color: red;

            }
        }
    }

}

@media (max-width: 850px) {
    .navbar-middle {
        .burger-menu {
            display: block !important;
        }
        li {
            display: none;
        }
    }
}
