// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "teacher/index";
@import "devise/devises.scss";
@import "course/index";


* {
    margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    // color: rgb(18, 18, 18);
    text-decoration: none;
    // font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-family: Poppins-Regular, sans-serif;

    ul, li {
        margin: 0px;
        list-style-type: none;
    }
    a {
        text-decoration: none;
        font-family: Poppins-Regular;
        font-size: 14px;
        line-height: 1.7;
        color: #666666;
        margin: 0px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
    }

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        color: #6675df;
    }
}
